
<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>

<!-- 
# <% if @book.errors.any? %>
#     <div id="error_explanation">
#       <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>

#       <ul>
#       <% @book.errors.full_messages.each do |msg| %>
#         <li><%= msg %></li>
#       <% end %>
#       </ul>
#     </div>
#   <% end %>
   -->

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field',:placeholder => "type name" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field', :placeholder => "type author" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :location_id, Location.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :user_id, :value => current_user.employee_id,:class => 'number_field',:placeholder => "type user id" %>
      <%= f.text_field :user_id, :class => 'number_field',:placeholder => "type user id" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publisher, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :publisher, :class => 'text_field' ,:placeholder => "type publisher name" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edition, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :edition, :class => 'text_field' ,:placeholder => "type edition" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' ,:placeholder => "description", :cols => "5", :rows => "5"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isbn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, :class => 'text_field' ,:placeholder => "type isbn number"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field',:placeholder => "type price" %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :value => Book::STATUS[:in],:class => 'number_field' ,:placeholder => "type status" %>
      <%#= f.select :status,Book::STATUS %>


    </div>
  </div>
 -->  <div class="control-group">
    <%= f.label :purchased_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :purchased_at, :class => 'datetime_select' ,:value => (@book.purchased_at.strftime("%d/%m/%Y")  if @book.purchased_at),:placeholder => "type purchased date" %>
      
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_list,"Tags (seperated by commas)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field' ,:placeholder => "type tag name" %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
