<!DOCTYPE html>
<html>
<head>
  <title>V2library</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container">
		        <div class="row">
		        	<div class="span6"></div>
		        	<div class= "span6">
			        	<div class="nav-collapse">
			          		<ul class="nav">
			            		<li><%= link_to "Books", books_path %></li>
			            		<li><%= link_to "Transactions",transactions_path %></li>
			            		<li><%= link_to "Locations", locations_path %></li>
			            		<li><%= link_to "Reports",'' %></li>
			            		<li>
				            		<% if user_signed_in? %>  
				    					<%= link_to "Sign out",  '/users/sign_out',:method => :delete %>  
				  					<% else %>  
				    					<%= link_to "Sign in", new_user_session_path %>  
				  					<% end %>
			  					</li>
			  					<li class="dropdown" id="accountmenu">  
                        		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret"></b></a>  
                        		<ul class="dropdown-menu">  
                            		<li><%= link_to "Account Settings", "" %></li>
                            		<li><%= link_to "System Settings", settings_path %></li>  
                               </ul>  
                    		</li>  	
					   	</ul>
			        	</div>
				    </div>
		        </div>
			   </div>
		    </div>
	  	</div>
		<div class="container">
			<%= yield %>
  		</div>
  		<footer>
	 	</footer>
</body>
</html>
